<div class="container">

  <div class="addFrind">  
    <label>your friend email </label>
    <input/>
    <%# <button class="btn btn-primary">Add </button> %>
     <%# <%= button_to 'Add', friend_ship_addFriend_path, "btn btn-lg btn-primary"method: :post %> 
   <%= link_to "Add", friend_ship_Friends_path, class: "btn btn-lg btn-primary",method: :post %> 
   


  </div>


<div class="scrollable p-4 rounded border">

     
    
  <div class=" row " >
    <% (1..10).each  do%>
    <div class="col-sm-4">
    <svg class="bd-placeholder-img mr-2 rounded" width="40" height="40" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">Full Name</strong>
          <a href="#">Unfriend</a>
        </div>
        <span class="d-block">@username</span>
      </div>
    </div>
    <%end%>


    
  </div>
</div>
</div>