<%= render 'layouts/navigation' %>

<div class="text-center">

<h1>Notifications</h1>
<hr>

</div>

<div class="container list" >


<table class=" table table-striped vertical-center tableList" >

  <thead>
  
    <tr>
      <th>Notifications</th>
      

    </tr>
  </thead>


 <tbody>
 <% @notification.each do |note| %>
    <tr>
      <td><%= note.body %> <a href="/orders/<%=note.order_id%>"> check order</a> </td>
      
      
    </tr>
   
    <% end %>
    

 </tbody>
 </table>
 

 </div>