<html>

<head>
    <link rel="stylesheet" >
</head>

    <body class="background">
        <%# <button class="button">Login </button> %>

        <%= link_to 'Login', new_user_session_path, class: 'button' %>
    </body>

</html>