
<div class="header">

<h2>Orders</h2>

</div>

<div class="container list" >

<table class=" table table-striped vertical-center tableList" >
  <thead>
    <tr>
      <th>Order</th>
      <th>Resturant</th>
      <th>Invited</th>
      <th>Joined</th>
      <th>Status</th>
      <th SCOPE=colgroup COLSPAN=3>Actions</th>

    </tr>
  </thead>

     <tr>
      <td>Breakfast </td>
      <td > 7amza </td>
      <td style="width: 7%">10 </td>
      <td style="width: 7%">7 </td>
      <td>waiting </td>
      <td style="width: 4%"> <a href="#">view</a> </td>
      <td style="width: 4%"> <a href="#">finish</a> </td>
      <td style="width: 4%"> <a href="#">cancel</a> </td>
    </tr>

    <tr>
    <td>Breakfast </td>
    <td > 7amza </td>
    <td style="width: 7%">10 </td>
    <td style="width: 7%">7 </td>
    <td>waiting </td>
    <td style="width: 4%"> <a href="#">view</a> </td>
    <td style="width: 4%"> <a href="#">finish</a> </td>
    <td style="width: 4%"> <a href="#">cancel</a> </td>
  </tr>

  <tr>
  <td>Breakfast </td>
  <td > 7amza </td>
  <td style="width: 7%">10 </td>
  <td style="width: 7%">7 </td>
  <td>waiting </td>
  <td style="width: 4%"> <a href="#">view</a> </td>
  <td style="width: 4%"> <a href="#">finish</a> </td>
  <td style="width: 4%"> <a href="#">cancel</a> </td>
</tr>

<tr>
<td>Breakfast </td>
<td > 7amza </td>
<td style="width: 7%">10 </td>
<td style="width: 7%">7 </td>
<td>waiting </td>
<td style="width: 4%"> <a href="#">view</a> </td>
<td style="width: 4%"> <a href="#">finish</a> </td>
<td style="width: 4%"> <a href="#">cancel</a> </td>
</tr>
 </tbody>
</table>
 </div>