
<%= render 'layouts/navigation' %>

<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h2>Order Details</h2>
      <table class="table" style="border: 1px solid #f8f9fa;" >
        <thead>
        <tr>
          <th>Person</th>
          <th>Item</th>
          <th>Amount</th>
          <th>Price</th>
          <th>Comment</th>
          <th>Action</th>

        </tr>
        </thead>
        <tbody>

        <%= render @order.user_orders %>

        </tbody>
      </table>

    </div>
  </div>
  <div class="row">
    <div style="text-align: center">
      <h2>Add your order</h2>
      <%= render 'user_orders/form' %>
    </div>
  </div>
</div>

<script>
    let url = window.location.href;
    let index = url.indexOf('?join');
    const urlParams = new URLSearchParams(window.location.search);
    if( index != -1) {
        let q = url.split('/');
        fetch("/notification_add/" + q[4] +"/" + urlParams.get("join"));
    }
</script>