/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-social
 */


@import "bootstrap";

// @import "font-awesome";

body {
  background-image: url("5.png")  !important;
  background-repeat: no-repeat !important;
  background-size:cover !important;
  background-attachment: fixed !important;
}
.table-info a {
  color : #333 !important ; 
}
.table-info a:hover{
  color : #11898e !important ;
}
.shadow{
  background: rgba(0,0,0,0.7) ;
  min-height: 100vh ;
  padding-top: 21vh ;
  color : cornsilk ;
}
.btn-primary{
    background-color: #11898e;
}

.login-form{
    //width:40%;
    margin-top: 50px;
    margin-left: 30%;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;
    border-radius: 15px 50px;

    background: rgba(0, 0, 0, 0.7);
    width: 40%;

}
// social login form


.reg-form{
    margin-top: 50px;
    margin-left: 30%;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;
    border-radius: 15px 50px;
    width: 40%;
    background: rgba(0, 0, 0, 0.7);

}
.login-form .btn-primary , .reg-form .btn-primary {
  margin-left: 51%;
  width: 100%;

}
.form-background{
    
 //   background-image: url("3.png") !important;
    background-repeat:no-repeat;
    background-size:cover;

}


// Navbar

.navbar-dark .navbar-nav a.nav-link{
    color: cornsilk
}
.bg-dark {
  background-color: #11898e !important ;

}

.name {
  margin-top: 18px !important;
  font-size: 18px !important;
  margin-left: 3px;
}

a.navbar-brand{
  margin-top: 3px;
}


// application fonts
h1  {
    font-family: 'Righteous', cursive !important; 
    font-size: 3rem !important;
}

h3{
  font-family: 'Baloo Chettan' , cursive !important;
  font-size : 2rem !important ; 
}

// primary colors

input.btn.btn-primary , .btn-primary{
    background-color: transparent;
    border : 3px solid #11898e ;
    transition: 1s ;
    border-radius: 5px;
}
input.btn.btn-primary:hover , .btn-primary:hover {
  background-color: #11898e ;
  border-color: cornsilk ;
}

// order
// orders table
.table {
  color : cornsilk ;
}
.table thead th{
  border-bottom: #11898e ;
}

// inputs
input.form-control {
background-color: transparent ;
border-color: #11898e
}
input.form-control::placeholder {
  color: cornsilk ;
}
