/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-social
 */


@import "bootstrap";

// @import "font-awesome";

body {
  background-image: url("burger.jpg")  !important;
}
.shadow{
  background: rgba(0,0,0,0.7) ;
  height: 100% ;
  padding-top: 50px ;
  color : cornsilk ;
}
.btn-primary{
    background-color: #dd3d44;
}

.login-form{
    //width:40%;
    margin-top: 50px;
    margin-left: 30%;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;
    border-radius: 15px 50px;

    background: rgba(71, 87, 72, 0.3);
    margin: 30px;

}
// social login form


.reg-form{
    margin-top: 50px;
    margin-left: 30%;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;
    border-radius: 15px 50px;

    background: rgba(71, 87, 72, 0.3);
    margin: 30px;
}
.form-background{
    padding-right:30%;
    padding-left:30%;
    padding-top:20px;
    background-image: url("5.png");
    background-repeat:no-repeat;
    background-size:cover;

}


// Navbar

.navbar-dark .navbar-nav a.nav-link{
    color: cornsilk
}
.bg-dark {
  background-color: #dd3d44 !important ;

}


// application fonts
h1 , h3 {
    font-family: 'Baloo Chettan', cursive;
}

// primary colors

input.btn.btn-primary , .btn-primary{
    background-color: #dd3d44;
}


// order
// orders table
.table {
  color : cornsilk ;
}
.table thead th{
  border-bottom: #dd3d44 ;
}
