.login-form{
    //width:40%;
    margin-top: 50px;
    margin-left: 30%;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px; 
    padding-left:10px;
    border-radius: 15px 50px;
    
    background: rgba(71, 87, 72, 0.3);
    margin: 30px;
   
}
.reg-form{
    margin-top: 50px;
    margin-left: 30%;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px; 
    padding-left:10px;
    border-radius: 15px 50px;
    
    background: rgba(71, 87, 72, 0.3);
    margin: 30px;
}
.form-background{
    padding-right:30%;
    padding-left:30%;
    padding-top:20px;
    background-image: url("5.png");

}


// Navbar 

.navbar-dark .navbar-nav a.nav-link{
    color: cornsilk 
}
nav{
    margin-bottom: 50px
}
