// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//////////////////////////////// add and list pages ////////////////////////

.big_container{

   display: flex;
   justify-content: center;
   padding: 40px; 
}



//////////////////////////////// list page ////////////////////////////

.header {
   background-color:  	#f7f4f0;
   height: 100px;
   width: 100%;
}

.header h2 {
   text-align: center;
   line-height: 100px; 
}

.container { 
   height: 500px;
   width: auto;
   position: relative;
   
    //border: 3px solid green; 
 }
 
 .vertical-center {
   margin: 0 auto;
   position: absolute;
   top: 50%;
   left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }

.table {
   border: solid 2px #ce5b6c;
   margin: 0 auto;
  
}

.table td , .table th{
   text-align: center;   
   border-right:  solid 1px #ce5b6c;
}


////////////////////////////////////////////////// add page /////////////////////////////////////////////////


.friends_container{
   float: left;
}


.form_container , .friends_container { 
   height: 500px;
   width: 500px;
   position: relative;  
   padding: 20px;   
   margin: 5% 0;
 }


 .friends_container{

    border: 2px solid #ce5b6c; 
    border-radius: 3%;

 }
 
 .new_order  , .friend{
   margin: 5% 5% 5% 15%;
  
 }

 .new_order {
   position: absolute;

 }