// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//////////////////////////////// add and list pages ////////////////////////

.big_container{

//<<<<<<< HEAD
//
//.form_container , .friends_container {
//   height: 500px;
//   width: 500px;
//   position: relative;
//   //margin: 5% 7%;
//    border: 3px solid green;
// }
//
// //.friends_container{
// //
// //  margin-right:7% ;
// //}
//
// .new_order  , .friend{
//   margin: 4%;
//   text-align: center;
//   //position: absolute;
//
// }
//=======
   display: flex;
   justify-content: center;
   padding: 40px;
}
//>>>>>>> 95cb070b0773ef304c2b20f34654877105fa32e0



//////////////////////////////// list page ////////////////////////////

.header {
   background-color: #f7f4f0;
   height: 100px;
   width: 100%;
}

.header h2 {
   text-align: center;
   line-height: 100px;
}

.container {
   height: 500px;
   width: auto;
   position: relative;

    //border: 3px solid green;
 }

 .vertical-center {
   margin: 0 auto;
   position: absolute;
   top: 50%;
   left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }

.table {
   border: solid 2px #ce5b6c;
   margin: 0 auto;

}

.table td , .table th{
   text-align: center;
   border-right:  solid 1px #ce5b6c;
}


////////////////////////////////////////////////// add page /////////////////////////////////////////////////


.friends_container{
   float: left;
}


.form_container , .friends_container {
   height: 500px;
   width: 500px;
   position: relative;
   padding: 20px;
   margin: 5% 0;
 }


 .friends_container{

    border: 2px solid #ce5b6c;
    border-radius: 3%;

 }

 .new_order  , .friend{
   margin: 5% 5% 5% 15%;

 }

 .new_order {
   position: absolute;

 }

 .latest-products , .friends-activity{
   position: absolute;
       top: 5px;
       font-size: 20px;
       left: 30px;
       background-color: #dd3d44;
       padding: 5px;
       border-radius: 10px ;
       color: cornsilk
 }
 .orders-list{
   border: 1px solid black;
   margin-top: 20px;
   background-color: rgba(255,255,255,0.5) !important;
   border-radius: 20px ;
 }
 .table-info,
 .table-info > th,
 .table-info > td{
  background-color: rgba(255,255,255,0.1) !important ;
}

.table-info th, .table-info td, .table-info thead th, .table-info tbody + tbody {
  border-color: #fff !important;
}
