// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//////////////////////////////// add and list pages ////////////////////////



.form_container , .friends_container { 
   height: 500px;
   width: 500px;
   position: relative;

   margin: 5% 7%;
   
    border: 3px solid green; 
 }

 .friends_container{

   margin-right:7% ;
 }
 
 .new_order  , .friend{
   margin: 5% 5% 5% 15%;
   position: absolute;
  
 }



//////////////////////////////// list page ////////////////////////////

.header {
   background-color:  	#f7f4f0;
   height: 100px;
   width: 100%;
}

.header h2 {
   text-align: center;
   line-height: 100px; 
}

.container { 
   height: 500px;
   width: auto;
   position: relative;
   
    //border: 3px solid green; 
 }
 
 .vertical-center {
   margin: 0 auto;
   position: absolute;
   top: 50%;
   left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }

.table {
   border: solid 2px #ce5b6c;
   margin: 0 auto;
  
}

.table td , .table th{
   text-align: center;   
   border-right:  solid 1px #ce5b6c;
}


////////////////////////////////////////////////// add page /////////////////////////////////////////////////

.btn-file {
   position: relative;
   overflow: hidden;
}
.btn-file input[type=file] {
   position: absolute;
   top: 0;
   right: 0;
   min-width: 100%;
   min-height: 100%;
   font-size: 100px;
   text-align: right;
   filter: alpha(opacity=0);
   opacity: 0;
   outline: none;
   background: white;
   cursor: inherit;
   display: block;
}

#img-upload{
   width: 100%;
}

.friends_container{
   float: left;
}