<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'YallaNotlob', orders_path, class: "navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', orders_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Orders</a>
      </li>
    </ul>
    <div style="float: right">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fas fa-bell fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="" alt="error"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Username</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>